*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: flex;
}

.navbar{
    width: 7vw;
    height: 100vh;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7f5a83;
    background-image: linear-gradient(280deg, #3f305e 0%, #00060a 74%);
}

#logo{
    margin-top: 25px;
    width: 3vw;
    opacity: 0.9;
}

.navbar-bar{
    color: aliceblue;
    margin-top: 15vh;
}

.navbar-bar li{
    margin-top: 10px;
    height: 10vh;
    width: 7vw;
    text-align: center;
    line-height: 10vh;
}

.navbar li:hover, .navbar li:focus, .navbar li:active{
    background: #eee5fdea;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.navbar li:hover .fa-solid{
    color: #160f25;
}

.fa-solid{
    color: #b9aecf;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.fa-solid:hover{
    opacity: 1;
    color: #160f25;
}

.content{
    width: 93vw;
    height: 100vh;
    background-color: #eee5fdea;
}

.p1, .p2, .p3, .p4{
    width: 93vw;
    height: 100vh;
}

.p2, .p3, .p4{
  display: none;   
}

.plot1{
    margin: auto;
    display: block;
}
